@font-face {
  font-family: 'HoonJunglebookRA';
  src: url('./../fonts/HoonJungleBookRA/HoonJunglebookRA.eot');
  src: url('./../fonts/HoonJungleBookRA/HoonJunglebookRA.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/HoonJungleBookRA/HoonJunglebookRA.woff2') format('woff2'),
    url('./../fonts/HoonJungleBookRA/HoonJunglebookRA.woff') format('woff'),
    url('./../fonts/HoonJungleBookRA/HoonJunglebookRA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('./../fonts/Tomorrow/Tomorrow-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
