<template>
  <div>

    <div v-if="history" class="History">

      <div class="history-container">
        <img :src="require('@/assets/img/bg/bg.png')" class="history-image">
      </div>

      <div v-if="true" class="history-nav-container">
        <div class="history-nav">
          
          <button
            v-for="(value, key) in nav"
            :key="key"
            class="nav-item"
            :style="key === 0 ? 'color: #C13F6F' : ''"
          >
            {{ value.name }}
          </button>

        </div>
      </div>
    
      <div v-if="true" class="center-table">
        <table v-if="true" class="history-table">

          <thead>
            <tr>

              <th>
                <p>
                  데이트
                </p>
              </th>

              <th>
                <p>
                  일주
                </p>
              </th>

              <th>
                <p>
                  왼쪽/오른쪽
                </p>
              </th>

              <th>
                <p>
                  선
                </p>
              </th>

              <th>
                <p>
                  홀수 / 이벤트
                </p>
              </th>

              <th class="close-header">
                <div class="close" @click="offToggle()" />
              </th>

            </tr>
          </thead>

          <tbody v-if="true">
            <tr v-for="n in 10" :key="n">

              <td>
                <p>
                  2019.05.21
                </p>
              </td>

              <td>
                <p class="date-font">
                {{ n }}
                </p>
              </td>

              <td>

                <div v-if="n%2 === 0" class="blue-ball-container">

                  <p class="blue-ball-text">
                    우
                  </p>

                  <img
                    :src="require('@/assets/img/balls/blue.png')"
                    class="blue-ball-image"
                  >

                </div>

                <div v-else class="red-ball-container">

                  <p class="red-ball-text">
                    좌
                  </p>

                  <img
                    :src="require('@/assets/img/balls/red.png')"
                    class="red-ball-image"
                  >

                </div>

              </td>

              <td>

                <div v-if="n%2 === 0" class="blue-ball-container">

                  <p class="blue-ball-text">
                    3
                  </p>

                  <img
                    :src="require('@/assets/img/balls/blue.png')"
                    class="blue-ball-image"
                  >

                </div>

                <div v-else class="red-ball-container">

                  <p class="red-ball-text">
                    4
                  </p>

                  <img
                    :src="require('@/assets/img/balls/red.png')"
                    class="red-ball-image"
                  >

                </div>

              </td>

              <td>
                
                <div v-if="n%2 === 0" class="blue-ball-container">

                  <p class="blue-ball-text">
                    홀
                  </p>

                  <img
                    :src="require('@/assets/img/balls/blue.png')"
                    class="blue-ball-image"
                  >

                </div>

                <div v-else class="red-ball-container">

                  <p class="red-ball-text">
                    짝
                  </p>

                  <img
                    :src="require('@/assets/img/balls/red.png')"
                    class="red-ball-image"
                  >

                </div>

              </td>

            </tr>
          </tbody>

        </table>

      </div>

    </div>
  
  </div>
</template>

<script>
export default {

  data () {
    return {
      nav: [
        { name: '패턴보기' },
        { name: '좌우 패턴' },
        { name: '홀수와 짝수' },
      ],

      exampleData: []
    }
  },

  props: ['history'],

  methods: {

    offToggle () {
      
      this.$emit('isActive', false)

    },

    generateRandom () {

      // {"r":271,"result":["RIGHT","LINE4","EVEN"]}
      // {"r":271,"result":["LEFT","LINE3","ODD"]}

      for (let index in [...Array(25).keys()]) {

        this.exampleData.push({
          r: index,
          result: [
            index % 2 === 0 ? 'LEFT' : 'RIGHT',
            index % 2 === 0 ? 'LINE3' : 'LINE4',
            index % 2 === 0 ? 'ODD' : 'EVEN',
          ]
        })
      }

      console.log(this.exampleData)

    }

  },

  created () {
    this.generateRandom()
  }

}
</script>