<template>
  <div>

    <button style="position: absolute;" @click="showToggle()">
      show history
    </button>

    <button style="margin-left: 5%; position: absolute;" @click="isShowRecentHistory()">
      show recent history
    </button>

    <history @isActive="isActive($event)" :history="showHistory"/>

    <recentHistory @aaa="aaa($event)" :recentHistory="showRecentHistory"/>

  </div>
</template>

<script>
export default {

  data () {
    return {
      showHistory: false,
      showRecentHistory: false
    }
  },

  components: {
    history: () => import('@/views/history'),
    recentHistory: () => import('@/views/recent-history')
  },

  methods: {
    
    showToggle () {
      this.showHistory = true
    },

    isActive (value) {
      this.showHistory = value
    },

    isShowRecentHistory () {
      this.showRecentHistory = true 
    },

    aaa(value) {
      this.showRecentHistory = value
    }


  }


}
</script>