<template>
  <div>

    <div v-if="recentHistory" class="RecentHistory">

      <div class="recenthistory-image-location">
        <img
          :src="require('@/assets/img/bg/bg_recent.png')"
          class="recenthistory-image"
        >
      </div>

      <div v-if="true" class="recenthistory-nav-container">
        <div class="recenthistory-nav">

          <div class="recenthistory-nav-list">

            <div class="recenthistory-nav-col-1" v-if="true">
              <button
                v-for="(value, key) in nav"
                :key="key"
                class="recenthistory-nav-item"
                :style="key === 0 ? 'color: #C13F6F' : ''"
                :data-char="value.name"
              >
              </button>
            </div>

            <div class="recenthistory-nav-col-2" v-if="true">
              <button class="recenthistory-nav-item show-me-more" data-char="<< 더 많이 보여줘">
 
              </button>
            </div>

          </div>

        </div>
      </div>

      <div v-if="true" class="recenthistory-table-container">

        <div class="cell-1">

          <div class="recent-history-row-container">

            <div v-for="n in 17" :key="n" class="recent-history-row">

              <div v-if="n % 2 === 0" class="recent-history-row-2">
                <div v-for="i in 6" :key="i" class="recent-history-column">

                  <div v-if="i % 2 === 0" class="blue-ball-container">
                    <p class="blue-ball-text">
                      4
                    </p>
                    <img
                      :src="require('@/assets/img/balls/blue.png')"
                      class="blue-ball-image"
                    >
                  </div>

                  <div v-else class="red-ball-container">
                    <p class="red-ball-text">
                      3
                    </p>
                    <img
                      :src="require('@/assets/img/balls/red.png')"
                      class="red-ball-image"
                    >
                  </div>

                </div>
              </div>

              <div v-else class="recent-history-row-2">
                <div v-for="i in 6" :key="i" class="recent-history-column">

                  <div v-if="i % 2 === 0" class="blue-ball-container">
                    <p class="blue-ball-text">
                      우
                    </p>
                    <img
                      :src="require('@/assets/img/balls/blue.png')"
                      class="blue-ball-image"
                    >
                  </div>

                  <div v-else class="red-ball-container">
                    <p class="red-ball-text">
                      좌
                    </p>
                    <img
                      :src="require('@/assets/img/balls/red.png')"
                      class="red-ball-image"
                    >
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="cell-2">

          <div class="cell-2-container">

            <div class="close-location-container">
              <div class="close-location">
                <div @click="unshowMe()" class="close" />
              </div>
            </div>

            <div class="side-balls">
              <div v-for="n in 6" :key="n" class="side-balls-item">

                <div v-if="n === 1" class="red-ball-container">
                  <p class="red-ball-text">
                    좌
                  </p>
                  <img
                    :src="require('@/assets/img/balls/red.png')"
                    class="red-ball-image"
                  >
                </div>

                <div v-if="n === 2" class="blue-ball-container">
                  <p class="blue-ball-text">
                    우
                  </p>
                  <img
                    :src="require('@/assets/img/balls/blue.png')"
                    class="blue-ball-image"
                  >
                </div>

                <div v-if="n === 3" class="red-ball-container">
                  <p class="red-ball-text">
                    짝
                  </p>
                  <img
                    :src="require('@/assets/img/balls/red.png')"
                    class="red-ball-image"
                  >
                </div>

                <div v-if="n === 4" class="blue-ball-container">
                  <p class="blue-ball-text">
                    홀
                  </p>
                  <img
                    :src="require('@/assets/img/balls/blue.png')"
                    class="blue-ball-image"
                  >
                </div>

                <div v-if="n === 5" class="blue-ball-container">

                  <div class="empty-ball-1"/>

                  <div class="small-ball-blue">
                    <div class="small-ball-blue-image-location">
                      <img
                        :src="require('@/assets/img/balls/blue.png')"
                        class="small-ball-blue-image"
                      >
                      <p class="small-ball-blue-text">
                        3
                      </p>
                    </div>
                  </div>

                </div>

                <div v-if="n === 6" class="red-ball-container">

                  <div class="empty-ball-2"/>

                  <div class="small-ball-red">
                    <div class="small-ball-red-image-location">
                      <img
                        :src="require('@/assets/img/balls/red.png')"
                        class="small-ball-red-image"
                      >
                      <p class="small-ball-red-text">
                        4
                      </p>
                    </div>
                  </div>


                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      nav: [
        { name: '패턴보기' },
        { name: '좌우 패턴' },
        { name: '홀수와 짝수' },
      ]
    }
  },

  props: ['recentHistory'],

  methods: {

    unshowMe () {
      console.log('from child')
      this.$emit('aaa', false)

    }

  }

}
</script>