.blue-ball-container {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (max-width: 552px) {
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 430px) {
    width: 35px;
    height: 35px;
  }

  @media (max-height: 845px) {
    width: 35px;
    height: 35px;
    margin-left: 0;
    margin-right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .blue-ball-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
  }

  .blue-ball-text {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color: #FFF1E2;
    user-select: none;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

    @media (max-width: 552px) {
      font-size: 20px;
    }

    @media (max-height: 845px) {
      font-size: 20px;
    }

  }

  .small-ball-blue {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    position: absolute;

    .small-ball-blue-image-location {
      position: relative;
      width: 20px;
      height: 20px;
      top: 16%;
      left: 16%;
      transform: translate(-50%, -50%);

      @media (max-height: 845px) {
        top: 10%;
        left: 10%;
      }    

      .small-ball-blue-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        user-select: none;
      }

      .small-ball-blue-text {
        width: 38px;
        height: 38px;
        position: relative;
        margin: 0;
        padding: 0;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 900;
        font-size: 15px;
        color: #FFF1E2;
        user-select: none;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
      }

    }

  }

  .empty-ball-1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #909090;
    position: absolute;
    z-index: -1;

    @media (max-width: 552px) {
      width: 40px;
      height: 40px;
    }

    @media (max-height: 845px) {
      width: 35px;
      height: 35px;
    }

  }

}

.red-ball-container {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (max-width: 552px) {
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 430px) {
    width: 35px;
    height: 35px;
  }

  @media (max-height: 845px) {
    width: 35px;
    height: 35px;
    margin-left: 0;
    margin-right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .red-ball-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
  }

  .red-ball-text {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color: #FFF1E2;
    user-select: none;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

    @media (max-width: 552px) {
      font-size: 20px;
    }

    @media (max-height: 845px) {
      font-size: 20px;
    }
    
  }

  .small-ball-red {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    position: absolute;

    .small-ball-red-image-location {
      position: relative;
      width: 20px;
      height: 20px;
      top: 80%;
      left: 79%;
      transform: translate(-50%, -50%);

      @media (max-height: 845px) {
        top: 65%;
        left: 65%;
      }

      .small-ball-red-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        user-select: none;
      }

      .small-ball-red-text {
        width: 38px;
        height: 38px;
        position: relative;
        margin: 0;
        padding: 0;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 900;
        font-size: 15px;
        color: #FFF1E2;
        user-select: none;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
      }

    }

  }

  .empty-ball-2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #909090;
    position: absolute;
    padding-bottom: 1px;

    @media (max-width: 552px) {
      width: 40px;
      height: 40px;
    }

    @media (max-height: 845px) {
      width: 35px;
      height: 35px;
    }

  }

}

