.close {
  width: 25px;
  height: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;

  &:after {
    content: '';
    height: 23px;
    border-left: 8px solid #909090;
    position: absolute;
    transform: rotate(45deg);
    margin-left: -4px;
 
    @media (max-width: 430px) {
      border-left: 5px solid #909090;
      margin-left: -6px;
    }

  }

  &:hover::before, &:hover::after {
    border-left: 8px solid red;
  }

  &:before {
    content: '';
    height: 23px;
    border-left: 8px solid #909090;
    position: absolute;
    transform: rotate(-45deg);
    margin-left: -4px;
  
    @media (max-width: 430px) {
      border-left: 5px solid #909090;
      margin-left: -6px;
    }
  
  }

}


