.History {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  overflow: hidden;

  .history-container {
    width: 1271px;
    height: 855px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1234px) {
      width: 960px;
      height: 645px;
    } 

    @media (max-width: 999px) {
      width: 865px;
      height: 583px;
    }

    @media (max-width: 805px) {
      width: 785px;
      height: 529px;
    }

    @media (max-width: 743px) {
      width: 640px;
      height: 432px;
    }

    @media (max-width: 608px) {
      width: 525px;
      height: 355px;
    }

    @media (max-width: 527px) {
      width: 445px;
      height: 301px;
    }

    @media (max-width: 430px) {
      width: 320px;
      height: 217px;
    }

    .history-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      user-select: none;
    }

  }

  .center-table {
    position: absolute;
    width: 1235px;
    height: 740px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1234px) {
      width: 935px;
      height: 543px;
    }

    @media (max-width: 999px) {
      width: 800px;
      height: 485px;
    }

    @media (max-width: 805px) {
      width: 737px;
      height: 435px;
    }

    @media (max-width: 743px) {
      width: 604px;
      height: 338px;
    }

    @media (max-width: 608px) {
      width: 483px;
      height: 279px;
    }

    @media (max-width: 527px) {
      width: 428px;
      height: 241px;
    }

    @media (max-width: 430px) {
      width: 305px;
      height: 171px;
    }

    .history-table {
      background-color: #ffffff;
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 30px;

      & tbody, & thead {
        display: block;
        width: 98%;
      }

      & tbody {
        height: 635px;
        border-top: 1px solid #D7D7D7;
        text-align: center;
        margin-left: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: nowrap;

        @media (max-width: 1234px) {
          width: 909px;
          height: 490px;
        }

        @media (max-width: 999px) {
          width: 777px;
          height: 398px;
        }

        @media (max-width: 805px) {
          width: 714px;
          height: 344px;
        }

        @media (max-width: 743px) {
          width: 584px;
          height: 251px;
        }

        @media (max-width: 608px) {
          width: 465px;
          height: 200px;
        }

        @media (max-width: 527px) {
          width: 412px;
          height: 164px;
        }

        @media (max-width: 430px) {
          width: 290px;
          height: 90px;
        }

        tr {
          display: flex;
          justify-content: flex-start;
          border-bottom: 1px solid #D7D7D7;
          padding-top: 10px;
          padding-bottom: 10px;
          
          td {
            width: 100%;
  
            @import './ball';
  
            p {
              font-weight: 400;

              @media (max-width: 743px) {
                font-size: 16px;
              }

              @media (max-width: 430px) {
                font-size: 12px;
              }
              
            }
  
          }
  
        }
        
      }
  
      & thead {
        padding-top: 5px;
        margin-left: 10px;
        
        @import './close';
  
        tr {
          display: flex;
          justify-content: flex-start;

          .close-header {
            width: 10%;
    
            @media (max-width: 1234px) {
              width: 7%;
            }
    
          }

          th {
            width: 100%;

            & p {
              letter-spacing: -1px;
              font-weight: 400;
              font-size: 20px;

              @media (max-width: 743px) {
                font-size: 17px;
              }

              @media (max-width: 430px) {
                font-size: 12px;
              }
              
            }
  
          }
  
        }
  
      }
  
    }
  

  }

  .history-nav-container {
    position: absolute;
    width: 1180px;
    height: 880px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1234px) {
      width: 960px;
      height: 645px;
    }

    @media (max-width: 999px) {
      width: 865px;
      height: 583px;
    }

    @media (max-width: 805px) {
      width: 785px;
      height: 529px; 
    }

    @media (max-width: 743px) {
      width: 640px;
      height: 432px;
    }

    @media (max-width: 608px) {
      width: 525px;
      height: 355px;
    }

    @media (max-width: 527px) {
      width: 445px;
      height: 301px;
    }

    @media (max-width: 430px) {
      width: 320px;
      height: 217px;
    }

    .history-nav {
      height: 50px;
      width: 500px;
      position: relative;
      top: 5%;
      left: 30%;
      transform: translate(-50%, -50%);

      @media (max-width: 1234px) {
        top: 4%;
      }

      @media (max-width: 999px) {
        left: 32%;
      }

      @media (max-width: 805px) {
        left: 35%;
      }

      @media (max-width: 743px) {
        top: 5%;
        left: 42%;
      }

      @media (max-width: 608px) {
        top: 5%;
        left: 31%;
        height: 40px;
        width: 285px;
      }

      @media (max-width: 527px) {
        top: 5%;
        left: 34%;
        height: 27px;
        width: 285px;
      }

      @media (max-width: 430px) {
        top: 5%;
        left: 44%;
        height: 24px;
        width: 267px;
      }

      .nav-item {
        height: 100%;
        border: none;
        margin-left: 5px;
        font-size: 25px;
        background-color: transparent;
        color: #A3A067;
        font-weight: 900;
        letter-spacing: -3px;

        @media (max-width: 805px) {
          font-size: 20px;
        }

        @media (max-width: 743px) {
          font-size: 19px;
        }

        @media (max-width: 527px) {
          font-size: 16px;
        }
        
      }

    }

  }

}