.RecentHistory {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #000000c9;
  bottom: 0;
  overflow: hidden;

  .recenthistory-image-location {
    width: 1200px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1234px) {
      width: 1030px;
    }

    // {"r":271,"result":["RIGHT","LINE4","EVEN"]}
    // {"r":271,"result":["LEFT","LINE3","ODD"]}

    @media (max-width: 999px) {
      width: 768px;
    }

    @media (max-width: 770px) {
      width: 550px;   
    }

    @media (max-width: 552px) {
      width: 375px;   
    }

    @media (max-width: 376px) {
      width: 330px;
    }

    .recenthistory-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      user-select: none;
      margin: auto;
      position: relative;
    }

  }

  .recenthistory-table-container {
    background-color: #ffffff;
    position: absolute;
    width: 1235px;
    height: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    @media (max-width: 1234px) {
      width: 1000px;
    }

    @media (max-width: 999px) {
      width: 768px;
    }

    @media (max-width: 770px) {
      width: 550px;   
    }

    @media (max-width: 552px) {
      width: 375px;   
    }

    @media (max-width: 376px) {
      width: 320px;   
    }

    .cell-1 {
      height: 100%;
      width: 80%;
      position: relative;

      .recent-history-row-container {
        width: 950px;
        height: 380px;
        position: fixed;
        bottom: 25px;
        left: 10px;
        right: 10px;
        margin-bottom: 0px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        @media (max-height: 851px) {
          height: 350px;
          left: 15px;
        }

        @media (max-height: 838px) {
          height: 315px;
          left: 15px;
        }

        @media (max-height: 761px) {
          height: 280px;
        }

        @media (max-height: 685px) {
          height: 250px;
        }

        @media (max-width: 1234px) {
          width: 765px;
        }

        @media (max-width: 999px) {
          width: 582px;
        }

        @media (max-width: 770px) {
          width: 406px;
        }
        
        @media (max-width: 552px) {
          width: 270px;
        }
       
        @media (max-width: 376px) {
          width: 223px;   
        }

        .recent-history-row {
          width: 55px;
          height: 655px;
          display: inline-block;
          pointer-events: none;
          user-select: none;

          @media (max-height: 851px) {
            height: 330px;
          }

          @media (max-height: 838px) {
            height: 296px;
          }
 
          @media (max-height: 761px) {
            height: 261px;
          }

          @media (max-height: 685px) {
            height: 231px;
          }

          .recent-history-row-2 {
            width: 55px;
            height: 655px;
            display: flex;
            flex-direction: column;
            pointer-events: none;
            user-select: none;

            @media (max-height: 851px) {
              height: 330px;
            }

            @media (max-height: 838px) {
              height: 296px;
            }

            @media (max-height: 761px) {
              height: 261px;
            }

            @media (max-height: 685px) {
              height: 231px;
            }

            .recent-history-column {
              width: 100%;
              height: 60px;
              border: 1px solid #909090;
              display: block;
              overflow: hidden;
              pointer-events: none;
              user-select: none;

              @import './ball';

              p {
                font-weight: 400;
                // font-family: $font;
              }

            }  

          }

        }
      
      }

    }

    .cell-2 {
      height: 100%;
      width: 20%;
      bottom: 0;
      
      .cell-2-container {
        width: 220px;
        height: 380px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 1234px) {
          width: 100%;
          height: 100%;
        }

        .close-location-container {
          width: 200px;
          height: 365px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @media (max-width: 1234px) {
            width: 100%;
            height: 100%;
          }

          .close-location {
            position: relative;
            width: 35px;
            height: 40px;
            left: 90%;

            @media (max-width: 1234px) {
              left: 85%;
              top: 2%;
            }

            @media (max-width: 999px) {
              left: 80%;
            }

            @media (max-width: 770px) {
              left: 75%;
              top: 2%;
            }

            @media (max-width: 552px) {
              left: 67%;
              top: 1%; 
            }
            
            @media (max-width: 376px) {
              left: 43%;
              top: 0%;
            }

            @import './close';

          }


        }

        .side-balls {
          width: 104px;
          height: 75%;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;

          @media (max-width: 552px) {
            width: 50px;
          }

          @media (max-height: 845px) {
            height: 66%;
            top: 39%;
          }

          @media (max-height: 838px) {
            top: 45%;
          }

          & > .side-balls-item {
            width: 50px;
            height: 50px;
            user-select: none;
            margin: 1px;

            @media (max-width: 552px) {
              height: 43px;
              margin-bottom: 0px;
            }

            @media (max-height: 845px) {
              height: 35px;
            }

            @import './ball';

            p {
              font-weight: 400;
              // font-family: $font;
            }


          }
        
        }

      }

    }

  }

  .recenthistory-nav-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .recenthistory-nav {
      height: 50px;
      width: 1110px;
      position: relative;
      top: 8%;
      left: 50%;  
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;

      @media (max-width: 1234px) {
        width: 960px;
      } 

      @media (max-width: 999px) {
        width: 700px;
      }

      @media (max-width: 770px) {
        width: 500px;
      }

      @media (max-width: 552px) {
        width: 320px;
      }

      @media (max-width: 376px) {
        width: 300px;
      }

      .recenthistory-nav-list {
        width: 1110px;
        height: 100%;
        display: flex;

        .recenthistory-nav-col-1 {
          width: 65%;
          height: 100%;

          .recenthistory-nav-item {
            height: 100%;
            border: none;
            margin-left: 5px;
            font-size: 25px;
            background-color: transparent;
            color: #A3A067;
            font-weight: 900;
            letter-spacing: -3px;
            text-align: center;

            &:after {
              content: attr(data-char);
            }
            
            @media (max-width: 770px) {
              font-size: 16px;
            }

            @media (max-width: 552px) {
              font-size: 12px;
              margin-left: -5px;
              letter-spacing: 0px;
            }

          }

        }

        .recenthistory-nav-col-2 {
          width: 35%;
          height: 100%;
          text-align: right;

          .show-me-more {
            height: 100%;
            border: none;
            margin-left: 5px;
            font-size: 25px;
            background-color: transparent;
            color: #A3A067;
            font-weight: 900;
            letter-spacing: -1px;
            text-align: center;

            &:after {
              content: attr(data-char);
            }

            @media (max-width: 770px) {
              font-size: 16px;
            }

            @media (max-width: 552px) {
              font-size: 12px;
            }
  
          }
        
        }
      
      }

    }

  }

}