@import './../fonts/font';

body {
  margin: 0;
  // background-image: url('./../img/bg/sample.jpg');

  ::-webkit-scrollbar {
    width: 25px;

    @media (max-width: 527px) {
      width: 21px;
    }

  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: #909090; 
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb; 
  }

  @import './history';
  @import './recent-history';

}
